<p>
  Hi <%= @user.first_name %>,
</p>

<p>
  Thanks for creating a University Brand moving account. If you'd like to book a move with us, <%= link_to "visit our homepage", root_path %>. To view any moves you currently have booked, <%= link_to "visit your account page", user_path %>.
</p>
<p>
  Best,
  <br/>
  The University Brand team.
</p>
